<section class="default-category-visibility">
  <h3>{{i18n "default_category_visibility.title"}}</h3>
  <label>
    {{input type="checkbox" checked=category.custom_fields.show_by_default}}
    {{i18n "default_category_visibility.for_category"}}
  </label>
</section>
