<div class="hide-categories-button-container">
  {{#d-button
    icon="far-plus-square"
    action=(route-action "hideCategories")
    title="categories.hide_button.title_long"
    label="categories.hide_button.title"}}
  {{/d-button}}
</div>
